.git
.deploy
template
readme
CLAUDE.md
*.md
*.docx
docker-compose/mysql/data
docker-compose/mysql/log
docker-compose/nginx/log
docker-compose/redis/data
docker-compose/linux
docker-compose/MacArm
docker-compose/MacIntel
docker-compose/window
crmeb/runtime/log
crmeb/runtime/temp
crmeb/runtime/cache
crmeb/runtime/session
crmeb/public/uploads
